force-app/main/default/flows/Income_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Expense_Assignment</name>
        <label>Expense Assignment</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Expense.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expense_Calculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Expense.Deal_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Expense.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Income</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Income_Assignment</name>
        <label>Income Assignment</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>Income.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Income_Calculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Income.Deal_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Income.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Expense_Assignment</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>Expense_Calculation</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Amount} * (1-{!$Record.Commission__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Income_Calculation</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Amount} * {!$Record.Commission__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Income Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Income Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Expense</name>
        <label>Create Expense</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <inputReference>Expense</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Income</name>
        <label>Create Income</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Create_Expense</targetReference>
        </connector>
        <inputReference>Income</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Income_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Expense</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>Income</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Income__c</objectType>
    </variables>
</Flow>
